body {
  background-color: #a3ecff;
}

#title {
  border: 5px solid red;
}

#title > h1 {
  text-align: center;
  color: black;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: lighter;
  font-size: 60px;
  margin: 0px;
}

#map {
  height: 700px;
  width: 80%;
  margin:auto;
}

#map-canvas {
  height:70%;
  top:60px;
}