#title {
  border: 5px solid red;
}
.navbar {
  height: 60px;
}

.navbar-light .navbar-brand {
  text-align: center;
  color: white !important;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: lighter;
  font-size: 35px;
}

#outermap {
  margin-top: 20px;
}

#map {
  height: 720px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#map-canvas {
  margin-top: 100px;
  height: 70%;
  top: 60px;
}

#modal-button {
  margin-top: 20px;
}

#modal-button > button {
  display: block;
  margin: 0 auto;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
