#title {
  border: 5px solid red;
}
.navbar {
  height: 60px;
}

.navbar-light .navbar-brand {
  text-align: center;
  color: white !important;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: lighter;
  font-size: 35px;
}

#outermap {
  margin-top: 20px;
}

#map {
  height: 720px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#map-canvas {
  margin-top: 100px;
  height: 70%;
  top: 60px;
}

#modal-button {
  margin-top: 20px;
}

#modal-button > button {
  display: block;
  margin: 0 auto;
}

#submitbutton, #speed, #wrapper, #destmenu {
  width: 100%;
}

#wrapper {
  margin-bottom: 60px;
}

#startlocation, #destination {
  float:left;
  width: 50%;
}

#startmenu {
  width:95%;
}

#submitdiv {
  padding-top: 20px;
  margin-top: 20px;
}

#modal-button {
  margin-bottom: 30px;
}

fieldset > legend {
  font-size: 16px;
}

fieldset {
  border: 3px solid red;
}